html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

.button {
  margin: auto;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 10pt;
  border-radius: 25px;
  cursor: pointer;
}

.modal-buttons-container {
  display: flex; 
  justify-content: space-around;
}

.modal-button {
  padding-top: 5px; 
  font-weight: 800; 
  background-color: #333; 
  color: white;
  margin: 0;
  text-align: center;
  width: 150px;
  height: 50px;
  font-size: 10pt;
  border-radius: 25px;
  cursor: pointer;
}

.header {
  font-size: 22px;
  padding: 30px;
  text-align: center;
  background: rgb(42, 66, 107);
  color: white;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.spacer2 {
  top: 0px;
  height: 50px;
  width: 100%;
  background: #333;
}

.footer {
  text-align: center;
  bottom: 0px;
  height: 200px;
  width: 100%;
  background: rgb(42, 66, 107);
  color: rgb(255, 255, 255);
}

h2.title {
  color: #3e67aa
}

h2.subtitle {
  color: #333
}

.about-container {
  order: 2;
  background-color: white;
  width: 90%;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 0px;
  padding: 20px 15px;
}

.focus-container {
  order: 1;
  background-color: white;
  width: 90%;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 0px;
  padding: 20px 15px;
}

.focus-logos {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

@media(min-width: 1200px) {
  .about-container {
    width: 50%;
    order: 1;
    padding: 20px 50px;
    margin: 50px 0px;
  }
  .focus-container {
    width: 35%;
    order: 2;
    padding: 20px 50px;
  }
}

.thumb {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px;
  grid-gap: 60px;
  padding: 0 50px 50px 50px;
}

@media(min-width: 768px) {
  .thumb {
    grid-template-columns: 200px 200px;
  }
}

@media(min-width: 1000px) {
  .thumb {
    grid-template-columns: 200px 200px 200px;
  }
}

@media(min-width: 1400px) {
  .thumb {
    grid-template-columns: 200px 200px 200px 200px;
  }
}

.thumb div {
  opacity: 1;
  display: inline-block;
  text-decoration: none;
  width: 200px; 
  height: 200px; 
  transition: all .1s ease-out;
  background-color: #669aec;
  box-shadow: 0px 24px 16px 16px rgba(0, 0, 0, 0.3),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumb div:hover {
  cursor: pointer;
  transform: translate(0, -4px);
  background-color: #7caaf5;
}

.thumb div p {
  text-decoration: none;
  white-space: wrap;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 24px;
  color: #333;
  opacity: 1.0;
}

.thumb div:hover p {
  opacity: 0.6;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  border-radius: 0.25%;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 1024px;
  height: 542;
  overflow: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

canvas {
  display: block;
}

  /* Chrome, Safari, Opera */
  @-webkit-keyframes fade {
    from {opacity: 0.6;}
    to {opacity: 1;}
  }

  /* Standard syntax */
  @keyframes fade {
    from {opacity: 0.6;}
    to {opacity: 1;}
  }