html, body { 
  display: block;
  margin: 25px;
}

* {
  box-sizing: border-box;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
  margin-top: 60px;
  text-align: center;
  font-size: 28px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
}

h2{
  font-size: 20px;
  margin-top: -5px;
  margin-left: 20px;
}

sidebar {
  float: left;
  width: 26%;
  height: 760px;
  background: rgb(62, 92, 145);
  padding-right: 120px;
  padding-left: 120px;
  border-radius: 5px;
}

nav {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  width: 74%;
  height: 820px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

div.navbar {
  border-radius: 25px;
  background: rgb(255, 255, 255);
  padding: 20px; 
  width: 1200px;
  height: 50px;  
}

div.nav_links {
  border-radius: 25px;
  position: fixed;
  top: 40px;
  right: 45px;
  background: rgb(255, 255, 255);
  padding: 20px; 
  width: 120px;
  height: 20px;  
}

div.my_titles {
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 20px; 
  width: 200px;
  height: 80px;  
}

div.simulations {
  border-radius: 5px;
  border-style: solid;
  border-color: #474747;
  background: rgb(255, 255, 255));
  padding: 20px; 
  width: 1200px;
  height: 370px;  
}

div.data {
  border-radius: 5px;
  border-style: solid;
  border-color: #474747;
  background: rgb(255, 255, 255);
  padding: 20px; 
  width: 1200px;
  height: 370px;  
}

div.thumb {
  display: inline-grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 60px;
  padding: 0 50px 100px 50px;
}
@media (max-width: 1300px) {
  div.thumb {
      grid-template-columns: 250px 250px 250px;
  }
}
@media (max-width: 1000px) {
  div.thumb {
      grid-template-columns: 250px 250px;
  }
}
@media (max-width: 700px) {
  div.thumb {
      grid-template-columns: 250px;
  }
}

div.thumb a {
  opacity: 1;
  display: inline-block;
  text-decoration: none;
  width: 250px;
}
div.thumb a img {
}
div.thumb a:hover img {
}
div.thumb a p {
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  font-family: 'Helvetica';
  font-size: 16px;
  color: #000000;
  background-color: #93b0ff;
  min-width: 256px;
  opacity: 0.8;
}
div.thumb a:hover p {
  opacity: 0.6;
}

#rcorners1 {
  background: rgb(255, 255, 255);
  padding: 20px; 
  width: 860px;
  height: 100px;  
}
  